header {
    background-color: grey;
    height: 75px;
}

.div {
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    width: 40%;
    height: 35px;
    margin-top: 20px;
    font-size: 25px;
    box-shadow: grey;
    border-radius: 4px;
}

button {
    height: 35px;
    width: 10%;
    margin-top: 20px;
}